#Head
    #Head_left
        #Leaf_top
            img(src='/img/shop3.jpg', width='324')
        #Leaf_bottom
            a#registration.registration
            a#log-in.log-in
    #Head_right
        #Logo
            #Name.Name
                span.blue F
                span ashion
                span.blue S
                span hop
            #Informations Latest trends in Fashion
        #Top_menu
            a.kart(href='/kart')
                span KART
            a.orders(href='/?page=home')
                span ORDERS
            a.contact(href='/?page=home')
                span CONTACT
            a.help(href='/help')
                span HELP
            a.home(href='/index')
                span HOME