extends layout

block header
    include header

block sidebar
    include sidebar

block content
    #RightPart
        #Page
            #Page_center
                h2 help page
    .cleaner

block footer
    include footer
