extends layout

block addscript
    script.
        function abc() {
            var arr = new Array("/images/neck.jpg", "/images/ban7.jpg", "/images/ban5.jpg", "/images/ban1.jpg", "/images/akkriti-banner.jpg");
            var ind = eval(document.f1.h1.value);
            document.img.src = arr[ind];
            document.f1.h1.value = ind + 1;
            if (document.f1.h1.value == 5) {
                document.f1.h1.value = 0;
            }
        }
        setInterval("abc()", 3000);

block header
    include header

block sidebar
    include sidebar

block content
    #RightPart
        #Page
            img(src='/images/akkriti-banner.jpg', alt='', width='669', height='210', name='img')
            form(name='f1')
                input(type='hidden', name='h1', value='0')
            #Page_top
                p
                    marquee(behavior='scroll', direction='left', onmouseover='stop()', onmouseout='start()')
                        font(color='#FFFF99')
                            h3 30%off on all summer wear...Hurry!!!
                        font(color='#00CC99')
                            h4 Enjoy the pleasure of shopping with Fashion Shop...
                    br
            #Page_center

    .cleaner

block footer
    include footer
