extends layout

block header
    include header

block sidebar
    include sidebar

block content
    #RightPart
        #Page
            #Page_center
                table#itemTable.itemTable
                    tr.tableHeader
                        td.product Product
                        td.des
                        td.count Quantity
                        td.dollar Price
                        td.dollar Total
                        td#remove.remove
                
    .cleaner

block footer
    include footer


