extends layout

block header
    include header

block sidebar
    include sidebar

block content
    #RightPart
        #Page
            #Page_center
                table#itemTable.itemTable
                    tr.tableHeader
                        td.product Product
                        td.count Quantity
                        td.dollar Price
                        td.dollar Total
                        td#remove.remove
                p#btn.btn
                    br
                    a(href='/index')
                        input#Continue.Continue(type='submit', value='Continue Shopping')
                    a(href='')
                        input#Checkout.Checkout(type='submit', value='Check Out')
    .cleaner

block footer
    include footer


