extends layout

block header
    include header

block sidebar
    include sidebar

block content
    #RightPart
        #Page
            #Page_center
                table#itemTable.itemTable
                    tr
                        td Items
                        td Balance
    .cleaner

block footer
    include footer
