extends layout

block content
    div
        center
            h2 KIDS'S APPAREL
    div(align='center')
        a(href='mbaby.html')
            img(src='images/babytoy.jpg', width='769', height='328')
        br
        a(href='mgirl.html')
            img(src='images/girl.jpg')
        a(href='mboy.html')
            img(src='images/boy.jpg')
        a(href='mbabytoy.html')
            img(src='images/baby.jpg')
        //
          <a href="office.html"><img src="images/office.jpg"></a>
          <a href="jewel.html"><img src="images/jewel.jpg"></a>