extends layout

block content
    div
        center
            h2 KIDS'S APPAREL
    div(align='center')
        a(href='/mbaby')
            img(src='/images/babytoy.jpg', width='769', height='328')
        br
        a(href='/mgirl')
            img(src='/images/girl.jpg')
        a(href='/mboy')
            img(src='/images/boy.jpg')
        a(href='/mbabytoy')
            img(src='/images/baby.jpg')
        //
          <a href="office"><img src="images/office.jpg"></a>
          <a href="jewel"><img src="images/jewel.jpg"></a>