extends layout

block header
    include header

block sidebar
    include sidebar

block content
    #RightPart
        #Page
            #Page_center
                form#loginForm.valForm(action='', method='GET')
                    fieldset
                        legend#legend.legend Login
                        br
                        p
                            a(href='/auth/google')
                                img#googleLogin.googleLogin(src='/buttonImages/google.png', alt='google', style='width:120px; height:28px;')
                            a(href='/auth/facebook')
                                img#fbLogin.fbLogin(src='/buttonImages/facebook.png', alt='facebook', style='width:120px; height:28px;')
                        p
                            label(for='email') Email:
                            input#email(name='email', type='email')
                        p
                            label(for='password') Password:
                            input#password(name='password', type='password')
                        label#err.errs
                        p
                            input#login.submitbtn(type='submit', value='Log in')
    .cleaner

block footer
    include footer

