extends layout

block content
    div
        center
            h2 MEN'S APPAREL
    div(align='center')
        a(href='/mcasual')
            img(src='/images/casual.jpg')
        a(href='/mjeans')
            img(src='/images/jeans.jpg')
        a(href='/mtshirts')
            img(src='/images/tshirt.jpg')
        br
        a(href='/mshoe')
            img(src='/images/shoe.jpg')
        a(href='/mshorts')
            img(src='/images/shorts.jpg')
        a(href='/mwatches')
            img(src='/images/watch.jpg')
