extends layout

block header
    include header

block sidebar
    include sidebar

block content
    #RightPart
        div
            br
            center
                h2
                    font(face='Lucida Handwriting', size='+1', color='#00CCFF') Girls Apparel
        div(style='width:100%;float:left')
            form(method='post')
                table(border='0', align='center')
                    tr
                        // list products
                        td(height='280', width='240', align='center')
                            img(src='/images/b1.jpg', height='200', width='200')
                            br
                            b Item No:
                            | g2
                            br
                            b Price:
                            | Rs 445
                            br
                            b Description:
                            | 612 Ivy League girls dress
                            br
                            br
                            a(href='/buynow/b1')
                                img(src='/images/MetalPlakDa5new.gif', width='70', height='20')
                            a(href='/view/b1')
                                img(src='/images/view7.jpg', width='70', height='20')
                        td(height='280', width='240', align='center')
                            img(src='/images/b2.jpg', height='200', width='200')
                            br
                            b Item No:
                            | g2
                            br
                            b Price:
                            | Rs 445
                            br
                            b Description:
                            | 612 Ivy League girls dress
                            br
                            br
                            a(href='/buynow/b2')
                                img(src='/images/MetalPlakDa5new.gif', width='70', height='20')
                            a(href='/view/b2')
                                img(src='/images/view7.jpg', width='70', height='20')
            div
                br
                marquee(behavior='scroll', dir='ltr', align='absbottom')
                    img(src='/usepics/logo5.jpg', width='100', height='70')
                    img(src='/usepics/logo11.jpg', width='100', height='70')
                    img(src='/usepics/logo12.jpg', width='100', height='70')
                    img(src='/usepics/logo8.jpg', width='100', height='70')
                    img(src='/usepics/logo6.jpg', width='100', height='70')
                    img(src='/usepics/logo4.jpg', width='100', height='70')
                    img(src='/usepics/logo3.jpg', width='100', height='70')
                    img(src='/usepics/logo13.jpg', width='100', height='70')
                    img(src='/usepics/logo15.jpg', width='100', height='70')
                    img(src='/usepics/logo1.jpg', width='100', height='70')
                    img(src='/usepics/logo2.jpg', width='100', height='70')
                    img(src='/usepics/logo14.jpg', width='100', height='70')
                    img(src='/usepics/logo9.jpg', width='100', height='70')
    .cleaner

block footer
    include footer
