extends layout

block header
    include header

block sidebar
    include sidebar

block content
    #RightPart
        #Page
            #Page_center
                form#signupForm.valForm(action='', method='PUT')
                    fieldset
                        legend#legend.legend Sign Up
                        br
                        p
                            a(href='/auth/twitter')
                                img#twitterLogin.twitterLogin(src='/buttonImages/twitter.png', alt='twitter', style='width:120px; height:28px;')
                            a(href='/connect/facebook')
                                img#fbLogin.fbLogin(src='/buttonImages/facebook.png', alt='facebook', style='width:120px; height:28px;')
                        p
                            label(for='username') Username:
                            input#username(name='username', type='text')
                        p
                            label(for='email') Email:
                            input#email(name='email', type='email')
                        p
                            label(for='password') Password:
                            input#password(name='password', type='password')
                        p
                            label(for='confirm_password') Confirm password:
                            input#confirm_password(name='confirm_password', type='password')
                        label#err.errs
                        p
                            input#signUp.submitbtn(type='submit', value='Register')
    .cleaner

block footer
    include footer
