extends layout

block content
    div
        center
            h2 WOMEN'S APPAREL
    div(align='center')
        a(href='/mdress')
            img(src='/images/dress.jpg')
        a(href='/msuits')
            img(src='/images/suits.jpg')
        a(href='/mkurtas')
            img(src='/images/kurtas.jpg')
        br
        a(href='/msandals')
            img(src='/images/f1.jpg')
        a(href='/moffice')
            img(src='/images/office.jpg')
        a(href='/mjewel')
            img(src='/images/jewel.jpg')