extends layout

block content
    div
        center
            h2 WOMEN'S APPAREL
    div(align='center')
        a(href='/collection/dresses')
            img(src='/images/dress.jpg')
        a(href='/collection/churidarsuits')
            img(src='/images/suits.jpg')
        a(href='/collection/kurtas')
            img(src='/images/kurtas.jpg')
        br
        a(href='/collection/sandals')
            img(src='/images/f1.jpg')
        a(href='/collection/officewear')
            img(src='/images/office.jpg')
        a(href='/collection/artificialjewellery')
            img(src='/images/jewel.jpg')