extends layout

block content
    div
        center
            h2 WOMEN'S APPAREL
    div(align='center')
        a(href='mdress.html')
            img(src='images/dress.jpg')
        a(href='msuits.html')
            img(src='images/suits.jpg')
        a(href='mkurtas.html')
            img(src='images/kurtas.jpg')
        br
        a(href='msandals.html')
            img(src='images/f1.jpg')
        a(href='moffice.html')
            img(src='images/office.jpg')
        a(href='mjewel.html')
            img(src='images/jewel.jpg')