.valForm {
	margin-top: 10%;
	margin-left: 5%;
	width: 90%;
	clear: both;
}

form.valForm fieldset {
	margin-bottom: 10px;
}

form.valForm legend {
	padding: 0 2px;
	font-weight: bold;
	_margin: 0 -7px; /* IE Win */
}

form.valForm label {
	display: inline-block;
	line-height: 1.8;
	vertical-align: top;
	cursor: hand;
}

form.valForm fieldset p {
	list-style: none;
	padding: 5px;
	margin: 0;
}

form.valForm fieldset fieldset {
	border: none;
	margin: 3px 0 0;
}

form.valForm fieldset fieldset legend {
	padding: 0 0 5px;
	font-weight: normal;
}

form.valForm fieldset fieldset label {
	display: block;
	width: auto;
}

form.valForm label { width: 130px; } /* Width of labels */
form.valForm fieldset fieldset label { margin-left: 103px; } /* Width plus 3 (html space) */
form.valForm label.error {
	margin-left: 103px;
	width: 220px;
}

form.valForm input.submitbtn {
	margin-left: 255px;
	margin-bottom: 10px;
}

form.valForm label.error, label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	color: red;
	font-style: italic;
	margin-left:10px;
	width: auto;
	display: inline;
}

div.error { display: none; }
form.input {	border: 1px solid black; }
form.input.checkbox { border: none }

form.valForm #err{ 
	color: red;
	font-style: italic;
	font-weight: bold;
	margin-left:5px;
	width: auto;
	display: inline;
}
