table.itemTable{
	border-collapse: collapse;
}

table.itemTable td{
	border-left: none;
	border-right: none;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

table.itemTable tr.tableHeader{
	font-weight: bold;
}

table.itemTable tr.tableHeader td.product{
	width:150px;
}

table.itemTable tr.tableHeader td.count{
	width:60px;
}

table.itemTable tr td.dollar{
	width: 110px;
	text-align: center;
}

table.itemTable td span.chout{
	font-weight: bold;
	float:right;
}

table.itemTable tr td.cost,td.subtotal{
	text-align:center;
	font-weight: bold;
}

table.itemTable tr td.quantity input.count{
	width:50px;
}

p.btn{ 
	width: 200px;
	display: inline;
}

p.btn input.Continue{
	float:left;
}

p.btn input.Checkout{
	margin-right: 28%;
	float:right;
}



